@font-face {
  font-family: 'ScalaSansBold';
  src: url("../fonts/ScalaSansWeb-Bold.eot");
  src: url("../fonts/ScalaSansWeb-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ScalaSansWeb-Bold.woff") format("woff");
}

.scala {
  font-family: 'ScalaSansBold', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.haas {
  font-family: 'NeueHaasGroteskText W01', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.haas-i {
  font-family: 'NHaasGroteskTXW01-56It', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.haas-m {
  font-family: 'NHaasGroteskTXW01-65Md', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.haas-b {
  font-family: 'NHaasGroteskTXW01-75Bd', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.link-teal {
  color: #00b3ac;
}
.link-teal:hover {
  color: #006860;
}

.link-blue {
  color: #008bc1;
}
.link-blue:hover {
  color: #005272;
}

.link-blue-l {
  color: #00b9d8;
}
.link-blue-l:hover {
  color: #008bc1;
}

/* ==========================================================================
   Sample Heading
   ========================================================================== */
/* Sample Subheading
   ========================================================================== */
.nav-toggle {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 960px) {
  .nav-list-item-header-title {
    display: block;
    margin-top: 30px;
  }
}

@media (min-width: 960px) {
  .nav-list-item-searchsites .nav-list-item-header-title {
    margin-top: 20px;
  }
}

@media (min-width: 960px) {
  .header-desktop-fixed .nav-list-item-header-title {
    margin-top: 0;
  }
}

.nav-list-item-dropdown {
  position: relative;
}

.nav-list-child-topics {
  width: 100%;
}
.nav-list-child-topics .nav-list-sublist-header-topics {
  width: 50%;
}
@media (min-width: 960px) {
  .nav-list-child-topics .nav-list-sublist-header-topics {
    width: 220px;
  }
}

.main-article-share-count {
  height: 30px;
}

@media (min-width: 640px) {
  .refinery-body {
    float: right;
    width: 54%;
  }
}

@media (min-width: 640px) {
  .refinery-collapse-toggle {
    width: 54%;
  }
}

@media (min-width: 640px) {
  .pro-features-header {
    width: 20%;
  }
}

@media (min-width: 640px) {
  .pro-features-body {
    width: 60%;
  }
}

@media (min-width: 640px) {
  .dig-deeper-content-item {
    width: 30%;
  }
}

@media (min-width: 640px) {
  .latest-wrapper .latest-body {
    width: 33%;
  }
}
@media (min-width: 960px) {
  .latest-wrapper .latest-body {
    right: 0;
    left: auto;
    width: 475px;
  }
}
@media (min-width: 1280px) {
  .latest-wrapper .latest-body {
    width: 775px;
  }
}
@media (min-width: 960px) {
  .latest-wrapper .latest-content li {
    width: 200px;
  }
}

@media (min-width: 640px) {
  footer .column {
    width: 28%;
  }
}
@media (min-width: 640px) {
  footer .footer-item {
    width: 90%;
  }
}

.sign-up-wrapper .sign-up-form .sign-up-textfield {
  width: 70%;
}

.main-article-pullquote-inner .icon {
  bottom: -45px;
}
