@font-face {
  font-family: 'ScalaSansBold';
  src: url("../fonts/ScalaSansWeb-Bold.eot");
  src: url("../fonts/ScalaSansWeb-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ScalaSansWeb-Bold.woff") format("woff");
}

.scala {
  font-family: 'ScalaSansBold', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.haas {
  font-family: 'NeueHaasGroteskText W01', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.haas-i {
  font-family: 'NHaasGroteskTXW01-56It', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.haas-m {
  font-family: 'NHaasGroteskTXW01-65Md', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.haas-b {
  font-family: 'NHaasGroteskTXW01-75Bd', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.link-teal {
  color: #00b3ac;
}
.link-teal:hover {
  color: #006860;
}

.link-blue {
  color: #008bc1;
}
.link-blue:hover {
  color: #005272;
}

.link-blue-l {
  color: #00b9d8;
}
.link-blue-l:hover {
  color: #008bc1;
}

/* ==========================================================================
   Sample Heading
   ========================================================================== */
/* Sample Subheading
   ========================================================================== */
@media (min-width: 960px) {
  .header-search-toggle > .icon {
    top: -20px;
  }
}

@media (min-width: 960px) {
  .header-desktop-fixed .header .header-search-toggle .icon {
    top: -20px;
  }
}

/* For Native Ad */
.site-container{
  background: #f2f2f2;
}

/*Font Colors*/

h3.section-title{
  color:#1a1a1a;
}
h4.topic-title, h4.topic-title a{
  color:#343433;
}
p.section-intro{
  color:#58595b;
}
p.description{
  color: #808080;
}

.closed{
  font-size: 18px !important;
  top: 4px !important;
}

.native-sponsoredcontent-header{
  height: 62px;
  padding:0 15px 10px;
  margin-top: 60px;
  background: #fff url(../images/border_diagonal.png) repeat-x 0 bottom;
  position: relative;
}
.native-sponsoredcontent-header ul{
  list-style: none;
}
.native-sponsoredcontent-header ul li{
  height: auto;
}
.sponsoredType h4{
  display: block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -.02em;
  line-height: 38px;
  color: #00b3ab;
  text-align: left;
  margin: 0;
}
.whatIsThis{
  display: inline-block;
}
.whatIsThis:hover{
  cursor: pointer;
}
.whatIsThis a{
  color:#676767;
  display: inline-block;
  font-size: 12px;
  margin-right: 15px;
  position: relative;
  top: -8px;
}
.whatIsThis .icon-arrow-down{
  display: inline-block;
  font-size: 20px;
  top: -5px;
}
.sponsorLogo{
  float: right;
  margin-top: -20px;
}
.sponsorLogo p{
  display: none;
}
.sponsorLogo img{

}
.whatIsThis-dropDownPanel{
  background-color: #fff;
  border:1px solid #ccc;
  border-top: none;
  box-sizing:border-box;
  display: none;
  left: 0px;
  padding:15px 10px 15px 15px;
  position: absolute; 
  top: 62px;
  width: 100%;
  z-index: 3;
}
.whatIsThis-dropDownPanel p{
  font-size: 12px;
  margin:0;
  padding:0; 
}

.main-article-chapter{
  background: url(../images/border_diagonal.png) repeat-x 0 bottom !important;
  height: auto;
  overflow: hidden;
}
.main-article-chapter .section-title{
  padding-left: 0;
}

.header-logo{
  margin-left: -24px;
}
.main-article-chapter{
  height: auto;
  margin:0;
  overflow: hidden;
  padding:0; 
}
.section{
  margin:0;
  overflow: hidden;
  padding:0;
}
.native-section{
  background: none;
  border-bottom: 1px solid #efefef;
  margin-top: 0;
}
h3.section-title{
  font-size: 20px;
  margin: 20px 0 10px;
}
.section-intro{
  font-size: 13px;
  margin: 0 0 30px;
}
h4.topic-title, h4.topic-title a{
  font-size: 16px;
  margin: 20px 0;
}
.description{
  display: none;
}
.main-content{
  background:#fff url(../images/gradient_bar_320.jpg)no-repeat 0 0;
  padding:10px 0 0;
}

/* Left Rail */
.series-bar-header,.series-bar-item.selected,.chapters-bar-item-link.selected{
  font-family: 'NHaasGroteskTXW01-75Bd', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.desktop-series-bar {
  display: none;
}

.series-bar-header {
  font-size: 18px;
  line-height: 1.22em;
  letter-spacing: -.02em;
  padding: 15px 20px 15px 43px;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}

.series-bar-header .icon {
  font-size: 35px;
  color: #00b3ac;
  position: absolute;
  top: 9px;
  left: 9px;
}

.series-bar-item,
.series-bar-item-link {
  color:#04B3AC;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .02em;
  padding: 20px;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
}

.series-bar-item:last-child,
.series-bar-item-link:last-child {
  border-bottom: 1px solid #e3e3e3;
}
.series-bar-item.selected,
.series-bar-item-link.selected {
  background-color: #f2f2f2;
}

.series-bar-item.selected a,
.series-bar-item-link.selected a {
  color: #00b3ac;
}

.series-bar-item .topic-count,
.series-bar-item-link .topic-count {
  color: #00b3ac;
}

.series-bar-item a,
.series-bar-item-link a {
  color: #a6a6a6;
}
.series-bar-item:hover a,
.series-bar-item-link:hover a {
  color: #323232;
}
.series-bar-item.blank {
  display: none;
}

/* Mobile Left Rail */

.mobile-series-sidebars,
.mobile-resources-sidebars{
  background: #fff;
}
.mobile-series-bar,
.mobile-resources-bar {
  width: 100%;
  padding-left:0;
  margin-left:0;
  background-color: #fff;
}
.resources-bar-header{
  padding:20px 20px 20px 60px;
}
.resources-bar-header .icon{
  color:#2cbbb5;
  font-size: 38px;
  left: 18px;
  top: 10px;
}
.resources-bar-item,
.resources-bar-item-link {
  color:#008BC1;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: .02em;
  padding: 20px 20px 20px 55px;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
}

.resources-bar-item:last-child,
.resources-bar-item-link:last-child {
  border-bottom: 1px solid #e3e3e3;
}

.resources-bar-item a{
  display: block;
  width: 200px
}
.resources-bar-item span{
  color:#999;
}

@media (min-width: 640px){
  .closed{
    font-size: 20px !important;
    top: 8px !important;
  }
  .main-content{
    background:#fff url(../images/gradient_bar_640.jpg)no-repeat 0 0;
    padding:20px 0 0;
  }
  .main-article-chapter{
    background: url(../images/border_diagonal.png) repeat-x 0 bottom !important;
    height: auto;
    overflow: hidden;
  }
  .main-article-chapter .section-title{
    padding-left: 0;
  }
  .sponsoredType{
    float: left;
  }
  .sponsoredType h4{
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: -.02em;
    color: #00b3ab;
    text-align: left;
    margin: 0 20px 0 0;
  }
  .whatIsThis{
    float: left;
  }
  .whatIsThis a{
    float: left;
    line-height: 65px;
    margin-top: 0;
    top: 0;
  }
  .whatIsThis i{
    float: left;
    line-height: 65px;
    margin-top: 0;
    top: 0 !important;
  }
  .sponsorLogo{
    margin: 0;
  }
  .sponsorLogo p{
    color:#333;
    display: inline-block;
    float: left;
    font-size: 15px;
    line-height: 65px;
    margin: 0;
    margin-right: 5px;
    position: relative;
    top: 0;
  }
  .sponsorLogo img{
    margin-top: 16px;
  }
  .whatIsThis-dropDownPanel{
    width: 375px !important;
  }
  .main-article-chapter{
    background: none;
  }
  .section{
    margin:0;
    overflow: hidden;
    padding:0;
  }
  .native-section{
    background: none;
    border-bottom: 1px solid #efefef;
    margin-top: 0;
  }
  h3.section-title{
    font-size: 30px;
    line-height: 32px;
    margin:20px 0;
  }
  .section-intro{
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 70px;
  }
  h4.topic-title, h4.topic-title a{
    font-size: 20px;
    line-height: 26px;
    margin: 20px 0;
  }
  .description{
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 40px;
  }
  .mobile-series-bar,
  .mobile-resources-bar {
    padding-left: 0;
    margin-left: 0;
  }
}

@media (min-width: 960px){

  .header{
    background:white;
    border-bottom: 1px solid #e3e3e3;
    height: 90px;
    padding-bottom:0;
  }
  .header-logo, .header-search-toggle{
    bottom:0;
  }
  .header-logo{
    margin-left: 0;
  }
  .native-sponsoredcontent-header{
    margin-top: 0 !important;
  }
  .whatIsThis a{
    float: left;
    line-height: 65px !important;
    margin-top: 0 !important;
    top: 0 !important;
  }
  .whatIsThis i{
    float: left;
  }
  .main-content{
    background:#fff url(../images/gradient_bar.jpg)no-repeat 0 0 !important;
    padding:39px 40px 0 !important;
  }
  .content-columns{
    background:#fff;
  }
  .nav{
    padding:0 0 0 120px;
  }
  @media (min-width:960){
    .nav{
      padding:0 0 0 120px !important;
    }
  }
  .nav-list-item-topics,.nav-list-item-sections,.header-search{
    top:0;
  }
  .main-article-header, .answers-header, .main-guide-header{
    margin: 0;
  }
  .share-bar-desktop{
    background: none;
    padding:0 0 15px;
  }
  .section{
    overflow: hidden;
    padding-top: 0;
  }
  .main-article-chapter{
    background: url(../images/border_diagonal.png) repeat-x 0 bottom !important;
  }
  .native-section{
    background: none;
    border-bottom: 1px solid #efefef;
    margin-top: 0;
  }
  .main-article-chapter .section-title{
    padding-left: 0;
  }

  .chapters-bar-list{
    height: 270px;
  }
  h3.section-title{
    color:#1a1a1a;
    font-size:44px;
    line-height: 50px;
    margin: 30px 0 20px ;
  }
  .section-intro{
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 55px ;
  }
  h4.topic-title, h4.topic-title a{
    color:#343433;
    font-size:24px;
    line-height: 30px;
    margin: 30px 0 20px;
  }
  p.description{
    color:#808080;
    display: block;
    font-size:14px;
    line-height: 22px;
    margin: 0 0 30px ;  
  }

  .content-left{
    padding-top: 40px;
  }
  .desktop-series-bar {
    margin: 0 !important;
  }
  .desktop-series-bar {
    width: 170px;
    padding-top: 10px;
    background: url(../img/border_diagonal.png) repeat-x 0 top;
    display: block;
  }
  .series-bar-header {
    font-size: 15px;
    padding-left: 20px;
  }
  .series-bar-header .icon{
    top: 7px;
    left: -11px;
  }
  .series-bar-item,
  .series-bar-item-link {
    padding: 15px;
  }
  .series-bar-item.selected,
  .series-bar-item-link.selected {
    font-family: 'NeueHaasGroteskText W01', Helvetica, Arial, sans-serif;
    border-left: 5px solid #00b3ac;
    background-color: transparent;
  }
  .series-bar-item.selected a,
  .series-bar-item-link.selected a {
    color: #323232;
  }
}

@media (min-width: 1280px){
  .main-article-chapter{
    width: 747px;
  }
  .native-section{
    width: 613px;
  }
  h3.section-title{
    color:#1a1a1a;
    font-size:44px;
    line-height: 50px;
    margin: 35px 0 20px;
  }
  .section-intro{
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 50px;
  }
  h4.topic-title, h4.topic-title a{
    color:#343433;
    font-size:24px;
    line-height: 30px;
    margin: 20px 0;
  }
  h4.article-title, h4.article-title a{
    color:#343433;
    font-size:24px;
    line-height: 30px;
    margin: 20px 0;
  }
  .description{
    color:#808080;
    display: block;
    font-size:14px;
    line-height: 22px;
    margin: 0 0 40px; 
  }
  .article-description{
    color:#808080;
    display: block;
    font-size:14px;
    line-height: 22px;
    margin: 0 0 40px; 
  }
  .content-left{
    padding-top: 40px;
  }
  .desktop-series-bar {
    margin: 0 !important;
  }
  .desktop-series-bar {
    width: 170px;
    padding-top: 10px;
    background: url(../img/border_diagonal.png) repeat-x 0 top;
    display: block;
  }
  .desktop-series-bar {
    width: 200px;
  }
  .series-bar-header {
    font-size: 15px;
    padding-left: 20px;
  }
  .series-bar-header .icon{
    top: 7px;
    left: -11px;
  }
  .series-bar-item,
  .series-bar-item-link {
    padding: 15px;
  }
  .series-bar-item.selected,
  .series-bar-item-link.selected {
    font-family: 'NeueHaasGroteskText W01', Helvetica, Arial, sans-serif;
    border-left: 5px solid #00b3ac;
    background-color: transparent;
  }
  .series-bar-item.selected a,
  .series-bar-item-link.selected a {
    color: #323232;
  }
}

/* Microsite Use Only */

/* bitpipe abstract */
.resDetail {
  background-color: #fff;
  overflow: hidden;
  padding: 30px 50px;
}

.resTitleLogo {
  clear: both;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
}
.resTitleLogo h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px !important;
}
.resTitleLogo h3 a {
  color: #15204f;
}
.resTitleLogo h4 {
  color: #666;
  font-size: 12px;
  font-weight: normal;
}

.resAbstract {
  clear: both;
  overflow: hidden;
  width: 100%;
}
.resAbstract .col1 {
  float: left;
  padding-right: 25px;
  width: 190px;
}
.resAbstract .col1 td {
  font-size: 12px;
  padding: 0 25px 5px 0;
  vertical-align: top;
}
.resAbstract .col1 td strong {
  font-weight: bold;
}
.resAbstract .col2 {
  float: left;
  width: 605px;
}
.resAbstract .col2 .abstract {
  border-top: 1px solid #ccc;
  padding: 10px 0 0;
}
.resAbstract .col2 h5 {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 2px;
  text-transform: uppercase;
}
.resAbstract .col2 p {
  margin-bottom: 10px;
}
.resAbstract .col2 a.viewNow {
  background: url(../images/viewNowGradient.png) repeat-x 0 0;
  border-radius: 8px;
  color: #fff !important;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 20px;
  padding: 5px 30px;
  text-align: center;
}
.resAbstract .col2 a.viewNow:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  text-decoration: none !important;
}

/* Remove Old Sponsored Content Header From Abstract Pages */

#micrositeAdvertisement{
  display: none;
}

/* Site Container */
.site-container{
  background: #f2f2f2;
}

/* Site Header */

.header-logo{
  bottom: 0;
}
.header-search, .nav-list-item{
  top:0;
}
.nav{
  border-bottom: 1px solid #e3e3e3;
  padding-top: 0;
}
.nav .nav-social,.nav .nav-user{
  display: none;
}

/* Hide Printer Icon on Landing and Topic Pages */
body#microsite .contentTools-print{
  display: none;
}
/* Show Printer Icon on Article Pages */
body#article .contentTools-print{
  display: inline-block;
}

/* Ad Container */

.micrositeArticlePage .adContainer{
  height: auto;
  margin: 10px 0 10px -10px;
  max-height: 250px;
  max-width: 300px;
  width: 100%;
}

/* Sponsored Content Header */

.fixedPosition{
  left: 0;
  position:fixed !important;
  top:-1px !important;
}
.relativePosition{
  position: relative !important;
  left: inherit !important;
}
.pushLeft{
  border-left: 1px solid #e3e3e3 !important;
  left: inherit !important;
}
.micrositeSponsoredContentHeader{
  display: block;
  height: 62px;
  padding:0 15px 10px;
  margin-top: 61px;
  background: #fff url(../images/border_diagonal.png) repeat-x 0 bottom;
  position: relative;
}
.micrositeSponsoredContentHeader ul{
  list-style: none;
}
.micrositeSponsoredContentHeader ul li{
  height: auto;
}
.micrositeSponsoredType{
  display: block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -.02em;
  line-height: 38px;
  color: #00b3ab;
  text-align: left;
  margin: 0;
}
.micrositeSponsoredType:before{
  content:"Sponsored Content";
}
.micrositeWhatIsThis{
  display: inline-block;
}
.micrositeWhatIsThis:hover{
  cursor: pointer;
}
.micrositeWhatIsThis a{
  color:#676767;
  display: inline-block;
  font-size: 12px;
  margin-right: 15px;
  position: relative;
  top: -8px;
}
.micrositeWhatIsThis .icon-arrow-down{
  display: inline-block;
  font-size: 20px;
  top: -5px;
}
.micrositeSponsorLogo{
  float: right;
  margin-top: -20px;
}
.micrositeSponsorLogo p{
  display: none;
}
.micrositeWhatIsThis-dropDownPanel{
  background-color: #fff;
  border:1px solid #ccc;
  border-top: none;
  box-sizing:border-box;
  display: none;
  left: 0px;
  padding:15px 10px 15px 15px;
  position: absolute; 
  top: 62px;
  width: 100%;
  z-index: 3;
}
.micrositeWhatIsThis-dropDownPanel p{
  font-size: 12px;
  margin:0;
  padding:0; 
}

/* Fixed Position Sponsored Content Header */
.header-mobile-fixed .micrositeSponsoredContentHeader{
  position: relative;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  height: 52px;
}
.header-desktop-fixed .micrositeSponsoredContentHeader{
  position: fixed;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  height: 52px;
  top:58px;
}
.header-desktop-fixed .micrositeSponsoredType,.header-mobile-fixed .micrositeSponsoredType{
  line-height: 27px;
}
.header-desktop-fixed .micrositeWhatIsThis a,.header-desktop-fixed .micrositeWhatIsThis i,.header-desktop-fixed .micrositeSponsorLogo p,.header-mobile-fixed .micrositeWhatIsThis a,.header-mobile-fixed .micrositeWhatIsThis i,.header-mobile-fixed .micrositeSponsorLogo p{
  line-height: 18px !important;
}
.header-desktop-fixed .micrositeSponsorLogo img,.header-mobile-fixed .micrositeSponsorLogo img{
  margin-top: 0;
}
.header-desktop-fixed .locking-left-bar,.header-mobile-fixed .locking-left-bar{
  top: 125px !important;
}
.header-desktop-fixed .micrositeWhatIsThis-dropDownPanel,.header-mobile-fixed .micrositeWhatIsThis-dropDownPanel{
  top:42px;
}
.header-searchsite-display{
  background: #fff;
  border-bottom: 1px solid #e3e3e3;
  line-height: 55px;
}
/*.header-mobile-fixed .micrositeSponsoredContentHeader{
  top: -1px;
  position: fixed;
}*/
.header-mobile-fixed .main-content{
  margin-top: 140px;
}

/* Main Content Styling */

.main-content{
  background:#fff url(../images/gradient_bar_320.jpg)no-repeat 0 0;
  padding:10px 0 0;
}

/* Landing Page Middle Column Content */

.micrositeLandingPage{
  background: none;
  margin: 20px 0;
  padding-top: 0;
}
.micrositeLandingPage h2{
  color:#58595b;
  font-family: 'NHaasGroteskTXW01-75Bd', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  margin:0 0 10px;
}
.micrositeLandingPage .micrositeSectionIntro{
  display: block;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  margin:0 0 20px;
}
.micrositeLandingPage .micrositeSectionIntro + hr{
  background: url(../images/border_diagonal.png) repeat-x 0 bottom !important;
  border: 0;
  height: 10px;
  left: inherit;
  position: relative;
  width: 100%;
}
.micrositeLandingPage h3{
  font-family: 'NHaasGroteskTXW01-75Bd', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0;
}
.micrositeLandingPage p{
  display: none;
}
.micrositeLandingPage p + hr{
  background: #e3e3e3;
  border:0;
  height: 1px;
  left: inherit;
  margin: 0;
  max-width: 615px;
  position: relative;
  width: 100%;
}

/* Topic Page Middle Column Content */

.micrositeTopicPage{
  background: none;
  margin: 20px 0;
  padding-top: 0;
}
.micrositeTopicPage h2{
  color:#58595b;
  font-family: 'NHaasGroteskTXW01-75Bd', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  margin:0 0 20px;
}
.micrositeTopicPage .micrositeSectionIntro{
  display: block;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  margin:0 0 30px;
}
.micrositeTopicPage .micrositeSectionIntro + hr{
  background: url(../images/border_diagonal.png) repeat-x 0 bottom !important;
  border: 0;
  height: 10px;
  left: inherit;
  margin-bottom: 35px;
  position: relative;
  width: 100%;
}
.micrositeTopicPage h3{
  font-family: 'NHaasGroteskTXW01-75Bd', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0;
}
.micrositeTopicPage h3:first-of-type{
  margin: 0 0 20px;
}
.micrositeTopicPage p{
  display: none;
}
.micrositeTopicPage p + hr{
  background: #e3e3e3;
  border:0;
  height: 1px;
  left: inherit;
  margin: 0;
  max-width: 615px;
  position: relative;
  width: 100%;
}

/* Article Page Middle Column Content */

.micrositeArticlePage{
  background: none;
  margin: 40px 0;
  padding-top: 0;
}
.micrositeArticlePage h2{
  color:#58595b;
  font-family: 'NHaasGroteskTXW01-75Bd', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  margin:0 0 20px;
}
.micrositeAuthorByline{
  color: #000;
  font-size: 12px;
  font-weight: 700;
}
.micrositeAuthorByline .name{
  color: #000;
}
.micrositeAuthorByline .title{
  color: #999;
  display: block;
  font-size: 10px;
}
.micrositeArticlePage p{
  display: block;
  margin: 0 0 20px;
}
.micrositeArticlePage .micrositeSupportingMaterial{
  background: #f2f2f2;
  margin: 0 0 15px -20px;
  padding:10px 0;
  width: 118%;
}
.micrositeArticlePage img.ad{
  display: block;
  margin: 0 0 0 -10px;
  height: auto;
  width: 100%;
  max-height: 250px;
  max-width: 300px;
}
.micrositeArticlePage > ul{
  color: #666;
  margin:-15px 0 20px 20px;
  max-width: 620px;
}
.micrositeArticlePage ol{
  color: #666;
  margin:0 0 20px -17px;  
}
.micrositeCallOut{
  background: url(../images/border_diagonal.png) repeat-x 0 top;
  margin: 0 0 20px;
  padding-top: 10px;
}
.micrositeCallOutTop{
  background: #333;
  height: auto;
  overflow: hidden;
  padding:20px 40px;
}
.micrositeCallOutTop p{
  color:#fff;
  font-size: 16px;
  line-height: 26px;
  margin:0;
  text-align: left;
}
.micrositeCallOutBottom{
  background: #000;
  padding: 10px 25px;
}
.micrositeCallOutBottom a{
  background: #128cc3;
  border-radius: 5px;
  box-sizing:border-box;
  color:#fff;
  display: block;
  font-size: 14px;
  line-height: 1;
  height: auto;
  margin: 0 auto;
  padding:14px 27px;
  text-align: center;
  width: 185px;
}
.micrositeDesktopResourcesBar,.micrositeDesktopRelatedContentBar{
  display: none;
}

/* Left Column & Mobile Menus */

.micrositeShareBarDesktop{
  display:none;
}
.share-bar-desktop{
  background: none;
  padding:0 0 15px;
}
.micrositeShareBarDesktop .micrositeShareBarItemDesktop{
  display: inline-block;
}
.micrositeShareBarDesktop .micrositeShareBarItemDesktop a{
  color: #00b3ac;
  font-size: 25px;
}
.micrositeShareBarDesktop .micrositeShareBarItemDesktop a:hover{
  color: #006860;
}
.micrositeDesktopSeriesBar,.micrositeDesktopArticleBar{
  display: none;
}
.micrositeSeriesBarHeader,.micrositeArticleBarHeader{
  font-size: 18px;
  line-height: 1.22em;
  letter-spacing: -.02em;
  padding: 15px 20px 15px 43px;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}
.micrositeSeriesBarHeader .icon,.micrositeArticleBarHeader .icon{
  font-size: 35px;
  color: #00b3ac;
  position: absolute;
  top: 9px;
  left: 9px;
}
.micrositeSeriesBarItem,.micrositeArticleBarItem{
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4em;
  letter-spacing: .02em;
  padding: 15px 20px;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
}
.micrositeDesktopSeriesBar .micrositeSeriesBarItem,.micrositeDesktopArticleBar .micrositeArticleBarItem{
  font-size: 12px;
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: .02em;
  padding: 15px 20px;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
}
.micrositeSeriesBarItem:last-child,.micrositeArticleBarItem:last-child {
  border: 0;
}
.micrositeMobileSeriesSidebars .micrositeSeriesBarItem:last-child,.mobile-sidebars .micrositeSeriesBarItem:last-child{
  border-bottom: 1px solid #e3e3e3;
}
.micrositeSeriesBarItem.selected,.micrositeArticleBarItem.selected{
  background-color: #f2f2f2;
}
.micrositeSeriesBarItem.selected a,.micrositeArticleBarItem.selected a {
  color: #04B3AC;
}
.micrositeSeriesBarItem a,
.micrositeSeriesBarItem-link a,
.micrositeArticleBarItem a,
.micrositeArticleBarItem-link a {
  color: #999;
}
.micrositeSeriesBarItem:hover a,
.micrositeSeriesBarItem-link:hover a,
.micrositeArticleBarItem:hover a,
.micrositeArticleBarItem-link:hover a {
  color: #323232;
}

/* Just Mobile Menus */

.micrositeMobileSeriesSidebars,.mobile-sidebars{
  display: none;
  box-sizing:border-box;
  width: 100%;
  padding-left: 30px;
  margin-left: -30px;
  background-color: #fff;
}
.close-icon{
  font-size: 18px !important;
  top: 4px !important;
}
.micrositeMobileNativeResourcesBar{
  display: none;
  background: #fff;
}
.micrositeResourcesBarHeader{
  font-size: 18px;
  font-family: 'NHaasGroteskTXW01-75Bd', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.22em;
  letter-spacing: -.02em;
  padding: 15px 20px 15px 57px;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}
.micrositeMobileNativeResourcesBar .micrositeResourcesBarHeader .icon{
  color:#00b3ac;
  font-size: 48px;
  left: 9px;
  position: absolute;
  top:2px;
}
.micrositeMobileNativeResourcesBar .micrositeResourcesBarItem{
  border-bottom: 1px solid #e3e3e3;
  font-size: 12px;
  font-family: 'NHaasGroteskTXW01-75Bd', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2em;
  letter-spacing: .02em;
  padding:20px;
  padding-left: 55px;
}
.micrositeMobileNativeResourcesBar .micrositeResourcesBarItem a{
  color: #008bc1;
}
.micrositeMobileNativeResourcesBar .micrositeResourcesBarItem a:hover{
  color: #005272;
}
.micrositeMobileNativeResourcesBar .micrositeResourcesBarItem span{
  color: #a6a6a6;
  display: block;
  white-space: nowrap;
  font-family: 'NeueHaasGroteskText W01', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.micrositeMobileNativeResourcesBar .micrositeResourcesBarItem:last-child{
  border-bottom: 1px solid #e3e3e3;
}

/* Video Player */

.section{
  background: none;
  margin:40px 0;
  padding:0;  
}
#playlist_player{
  height: 100%;
  padding-bottom: 62%;
  position: relative;
  width: 100%;
}
.BrightcoveExperience{
  height: 100%;
  position: absolute;
  width: 100%;
}

.videoContainer{
  height: auto;
  max-height: 350px;
  max-width: 640px;
  margin-bottom: 20px;
  padding-bottom: 70%;
  position: relative;
  width: 100%;
}

/* Content Recommendation Widget */

.contentRecommendationContainer.notLoggedIn{
  background:#fff;
  border: 4px solid #008bc1;
  box-sizing:border-box;  
  height: 250px;
  margin: 20px auto;
  position: relative;
  width: 240px;
}
.contentRecommendationContainer.notLoggedIn .preLogin{
  height: auto;
  overflow: hidden;
  padding:40px 20px 9px; 
}
.contentRecommendationContainer.notLoggedIn .preLogin p{
  color: #008bc1;
  font-size: 18px;
  line-height: 1.4;
  margin: 0 0 20px;
  width: auto;
}
.contentRecommendationContainer.notLoggedIn .preLogin input[type=submit]{
  background: #008bc1;
  border: 0;
  border-radius: 3px;
  color: #fff;
  height: 33px;
  width: 138px;
}
.contentRecommendationContainer .LinkedInLogo{
  bottom: 10px;
  position: absolute;
  right: 10px;
}
.contentRecommendationContainer.notLoggedIn .postLogin{
  display: none;
}
.contentRecommendationContainer.loggedIn{
  background:#fff;
  border: 4px solid #008bc1;
  box-sizing:border-box;  
  height: auto;
  margin: 20px auto;
  min-height: 250px;
  overflow: hidden;
  position: relative;
  width: 240px;
}
.contentRecommendationContainer.loggedIn .preLogin{
  display: none;
}
.contentRecommendationContainer.loggedIn .postLogin{
  height: auto;
  overflow: hidden;
  padding: 10px 15px;
}
.contentRecommendationContainer.loggedIn .postLogin a#close{
  background: #008bc1;
  border-radius: 2px;
  color: #fff;
  display: table;
  float: right;
  font-size: 18px;
  height: 30px;
  margin-bottom: 15px;
  width: 30px;
}
.contentRecommendationContainer.loggedIn .postLogin a#close:hover{
  cursor: pointer;
}
.contentRecommendationContainer.loggedIn .postLogin a#close i{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.contentRecommendationContainer.loggedIn .postLogin .addressment{
  clear: right;
  color: #333;
  font-size: 13px;
  margin: 0 0 15px;
  text-align: center;
}
.contentRecommendationContainer.loggedIn .postLogin ul.assets{
  list-style: none;
  margin: inherit;
  margin-bottom: 45px;
}
.contentRecommendationContainer.loggedIn .postLogin li.asset{
  margin-bottom: 30px;
}
.contentRecommendationContainer.loggedIn .postLogin .circle{
  background: #f2f2f2;
  border-radius: 50%;
  display: table;
  height: 105px;
  margin: 0 auto 15px;
  position: relative;
  width: 105px;
}
.contentRecommendationContainer.loggedIn .postLogin .circle i{
  color: #008bc1;
  display: table-cell;
  font-size: 78px;
  line-height: .8;
  vertical-align: middle;
  text-align: center;
}
.contentRecommendationContainer.loggedIn .postLogin .circle img{
  height: 39px;
  position: absolute;
  top: 50%;
  margin-top: -19px;
  left: 50%;
  margin-left: -49px;
}
.contentRecommendationContainer.loggedIn .postLogin .asset p.cta{
  color: #333;
  font-size: 13px;
  text-align: center;
}
.contentRecommendationContainer.loggedIn .postLogin .asset .viewNow{
  background: #008bc1;
  border: 0;
  border-radius: 3px;
  box-sizing:border-box;
  color: #fff;
  display: block;
  font-size: 13px;
  height: 35px;
  margin: 0 auto;
  padding:9px 0 0;
  text-align: center;
  width: 100px;
}
.contentRecommendationContainer.loggedIn .collapsed,.contentRecommendationContainer.notLoggedIn .collapsed{
  display: none;
}
.contentRecommendationContainer.loggedIn .collapsed{
  height: auto;
  overflow: hidden;
  padding:40px 20px 9px; 
}
.contentRecommendationContainer.loggedIn .collapsed p{
  color: #008bc1;
  font-size: 18px;
  line-height: 1.4;
  margin: 0 0 20px;
  width: auto;
}
.contentRecommendationContainer.loggedIn .collapsed .viewNow{
  background: #008bc1;
  border: 0;
  border-radius: 3px;
  box-sizing:border-box;
  color: #fff;
  display: block;
  height: 33px;
  padding: 7px 0 0;
  text-align: center;
  width: 138px;
}
.contentRecommendationContainer.loggedIn .collapsed .viewNow:hover{
  cursor: pointer;
}

.displayNone{
  left:-9999px;
  display: none !important;
}

@media (min-width: 360px){

  .micrositeArticlePage .micrositeSupportingMaterial{
    background: #f2f2f2;
    margin: 0 0 15px -20px;
    padding:10px 0;
    width: 118%;
  }
  .micrositeArticlePage img.ad{
    display: block;
    margin: 0 auto;
  }

}

@media (min-width: 640px){

  /* Sponsored Content Header */

  .micrositeSponsoredType{
    float: left;
  }
  .micrositeSponsoredType{
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: -.02em;
    color: #00b3ab;
    text-align: left;
    margin: 0 20px 0 0;
  }
  .micrositeWhatIsThis{
    float: left;
  }
  .micrositeWhatIsThis a{
    float: left;
    line-height: 65px;
    margin-top: 0;
    top: 0;
  }
  .micrositeWhatIsThis i{
    float: left;
    line-height: 65px;
    margin-top: 0;
    top: 0 !important;
  }
  .micrositeSponsorLogo{
    margin: 0;
  }
  .micrositeSponsorLogo p{
    color:#333;
    display: inline-block;
    float: left;
    font-size: 15px;
    line-height: 65px;
    margin: 0;
    margin-right: 5px;
    position: relative;
    top: 0;
  }
  .micrositeSponsorLogo img{
    margin-top: 16px;
  }
  .micrositeWhatIsThis-dropDownPanel{
    width: 375px !important;
  }

  /* Fixed Sponsored Content Header */

  .header-mobile-fixed .micrositeSponsoredType{
    line-height: 42px;
  }
  .header-mobile-fixed .micrositeWhatIsThis a,.header-mobile-fixed .micrositeWhatIsThis i,.header-mobile-fixed .micrositeSponsorLogo p{
    line-height: 44px !important;
  }
  .header-mobile-fixed .micrositeSponsorLogo img{
    margin-top: 5px;
  }

  /* Main Content Styling */

  .main-content{
    background:#fff url(../images/gradient_bar_640.jpg)no-repeat 0 0;
    padding:20px 0 0;
  }

  /* Landing Page Middle Column Content */
  
  .micrositeLandingPage{
    margin: 20px 0 40px;
  }
  .micrositeLandingPage h2{
    font-size: 30px;
    line-height: 32px;
    margin: 0 0 20px;
  }
  .micrositeLandingPage .micrositeSectionIntro{
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 60px;
  }
  .micrositeLandingPage h3{
    font-size: 20px;
    line-height: 26px;
  }
  .micrositeLandingPage p{
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 40px;
  }

  /* Topic Page Middle Column Content */
  
  .micrositeTopicPage{
    margin: 40px 0 40px;
  }
  .micrositeTopicPage h2{
    font-size: 30px;
    line-height: 32px;
    margin: 0 0 20px;
  }
  .micrositeTopicPage .micrositeSectionIntro{
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 30px;
  }
  .micrositeTopicPage h3{
    font-size: 20px;
    line-height: 26px;
    margin: 40px 0 20px;
  }
  .micrositeTopicPage h3:first-of-type{
    margin: 40px 0 20px;
  }
  .micrositeTopicPage .micrositeSectionIntro + hr{
    left: inherit;
    margin-bottom: 0;
    position: relative;
  }
  .micrositeTopicPage p{
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 20px;
  }

  /* Article Page Middle Column Content */

  .micrositeArticlePage{
    background: none;
    margin: 40px 0;
    padding-top: 0;
  }
  .micrositeArticlePage h2{
    color:#58595b;
    font-family: 'NHaasGroteskTXW01-75Bd', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 37px;
    line-height: 50px;
    margin:0 0 20px;
  }
  .micrositeAuthorByline{
    font-size: 14px;
  }
  .micrositeAuthorByline .title{
    font-size: 11px;
  }
  .micrositeArticlePage p{
    margin: 0 0 20px;
  }
  .micrositeArticlePage .micrositeSupportingMaterial{
    background: none;
    margin: 0;
    padding:inherit;
    width: inherit; 
  }
  .micrositeArticlePage img.ad, .micrositeArticlePage .adContainer{
    border: 0;
    float: right;
    margin: 0 0 20px 20px;
    height: auto;
    width: 100%;
    max-height: 250px;
    max-width: 300px;
  }
  .micrositeArticlePage ul{
    font-size: 17px;
    margin: 20px 0 20px 20px;
    line-height: 1.3em;
  }
  .micrositeArticlePage p + ul,.micrositeArticlePage p + ol{
    color: #666;
  }
  .micrositeArticlePage ol{
    font-size: 17px;
    margin: 20px 0 20px 0;
    line-height: 1.3em;
  }
  .micrositeArticlePage li{
    margin-bottom: 20px;
  }
  .micrositeCallOutTop p{
    font-size: 22px;
    line-height: 38px;
  }
  .micrositeCallOutBottom a{
    font-size: 20px;
    line-height: .7;
    padding: 20px 30px;
    width: 275px;
  }

   /* Mobile Menus */

  .micrositeMobileSeriesSidebars,.mobile-sidebars{
    padding-left: 40px;
    margin-left: -40px;
  }

  .close-icon{
    font-size: 20px !important;
    top: 7px !important;
  }

  /* Video Player */

  .videoContainer{
    max-width: 768px;
    padding-bottom: 60%;
  }

  .section{
    background: none;
    margin-bottom: 40px;
  }

  /* Content Recommendation Container */

  .contentRecommendationContainer.notLoggedIn{
    clear: right;
    float: right;
    margin: 20px 0 40px 20px;
    width: 300px;
  }
  .contentRecommendationContainer.loggedIn{
    clear: right;
    float: right;
    margin-left: 20px;
    width: 100%;
  }
  .contentRecommendationContainer.loggedIn .postLogin .addressment{
    font-size: 15px;
    text-align: left;
  }
  .contentRecommendationContainer.loggedIn .postLogin li.asset{
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 20px 0 0;
  }
  .contentRecommendationContainer.loggedIn .postLogin .circle{
    clear: left;
    float: left;
    margin:0 20px 0 10px; 
    width: 105px;
  }
  .contentRecommendationContainer.loggedIn .postLogin .asset p.cta{
    float: left;
    margin-bottom: 10px;
    text-align: left;
    width: 73%;
  }
  .contentRecommendationContainer.loggedIn .postLogin .asset .viewNow{
    float: left;
    margin:0;
    padding: 6px 0 0; 
  }
}

@media (min-width: 960px){

  /* Site Header */

  .header{
    background: #fff;
    height: 90px;
  }
  .header-logo{
    bottom: 10px;
  }

  /* Sponsored Content Header */

  .micrositeSponsoredContentHeader{
    margin-top: 0 !important;
  }
  .micrositeWhatIsThis a{
    float: left;
    line-height: 65px !important;
    margin-top: 0 !important;
    top: 0 !important;
  }
  .micrositeWhatIsThis i{
    float: left;
  }

  /* Fixed Sponsored Content Header */
  .header-desktop-fixed .locking-full-bar{
    top: 0 !important;
  }
  .header-desktop-fixed .micrositeSponsoredType{
    line-height: 42px;
  }
  .header-desktop-fixed .micrositeWhatIsThis a,.header-desktop-fixed .micrositeWhatIsThis i,.header-desktop-fixed .micrositeSponsorLogo p{
    line-height: 44px !important;
  }
  .header-desktop-fixed .micrositeSponsorLogo img{
    margin-top: 5px;
  }

  /* Main Content Styling */

  .main-content{
    background:#fff url(../images/gradient_bar_960.jpg)no-repeat 0 0;
    padding:30px 40px 0;
  }

  /* Landing Page Middle Column Content */

  .micrositeLandingPage{
    margin: 30px 0 40px;
  }
  .micrositeLandingPage h2{
    font-size: 44px;
    line-height: 50px;
  }
  .micrositeLandingPage .micrositeSectionIntro{
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 45px;
  }
  .micrositeLandingPage h3{
    font-size: 24px;
    line-height: 30px;
    margin: 30px 0 20px;
  }
  .micrositeLandingPage p{
    margin: 0 0 30px;
  }

  /* Topic Page Middle Column Content */

  .micrositeTopicPage{
    margin: 35px 0 40px;
  }
  .micrositeTopicPage h2{
    font-size: 44px;
    line-height: 50px;
  }
  .micrositeTopicPage .micrositeSectionIntro{
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 40px;
  }
  .micrositeTopicPage h3{
    font-size: 24px;
    line-height: 30px;
    margin: 30px 0 20px;
  }
  .micrositeTopicPage p{
    margin: 0 0 20px;
  }

  /* Article Page Middle Column Content */

  .micrositeCallOut{
    margin: 0 0 40px;
  }
  .micrositeCallOutBottom{
    height: auto;
    overflow: hidden;
  }
  .micrositeCallOutBottom a{
    float: right;
  }
  .locking-left-bar .micrositeDesktopResourcesBar{
    background: url(../images/border_diagonal.png) repeat-x 0 top;
    display: block;
    margin-top: 10px;
    width: 170px;
  }
  .micrositeDesktopResourcesBar{
    display: none;
  }

  /* Left Column Menus */
  .locking-full-bar .micrositeRightRail,.micrositeDesktopResourcesBar{
    background: url(../images/border_diagonal.png) repeat-x 0 top;
    display: block;
    width: 175px;
  }
  .micrositeArticlePage .micrositeRightRail{
    display: none;
  }
  .micrositeShareBarDesktop{
    text-align: center;
    list-style: none;
    display: block; 
  }
  .content-left{
    padding-top: 40px;
  }
  .notPersistent{
    margin-top: 0 !important;
    position: relative !important;
    top:0 !important;
  }
  .micrositeShareBarDesktop{
    background: none;
    padding:0 0 10px;
    width: 175px;
  }
  .micrositeDesktopArticleBar{
    display: block;
    width:175px;
  }
  .micrositeSeriesBar, .micrositeArticleBar{
    font-family: 'NHaasGroteskTXW01-75Bd', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-style: normal;
  }
  .micrositeDesktopSeriesBar,.micrositeDesktopArticleBar{
    background: url(../images/border_diagonal.png) repeat-x 0 top;
    display: block;
    margin: 0;
      padding-top: 10px;
      width: 175px;
  }
  .micrositeDesktopRelatedContentBar{
    display: none;
  }
  .micrositeSeriesBarHeader,.micrositeArticleBarHeader{
    font-size: 18px;
    line-height: 1.22em;
    letter-spacing: -.02em;
    padding: 20px 20px 20px 43px;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
  }
  .micrositeSeriesBarHeader,.micrositeArticleBarHeader{
    font-size: 15px;
    font-family: 'NHaasGroteskTXW01-75Bd', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
      padding-left: 20px;
  }
  .micrositeSeriesBarHeader .icon,.micrositeArticleBarHeader .icon{
    top: 11px;
    left: -11px;
  }
  .micrositeSeriesBarItem,.micrositeArticleBarItem{
    font-family: 'NeueHaasGroteskText W01', Helvetica, Arial, sans-serif;
    padding: 20px 15px;
  }
  .micrositeSeriesBarItem.selected,.micrositeArticleBarItem.selected {
      font-family: 'NeueHaasGroteskText W01', Helvetica, Arial, sans-serif;
      border-left: 5px solid #00b3ac;
      background-color: transparent;
  }
  .micrositeSeriesBarItem.selected a,.micrositeArticleBarItem.selected a{
    color: #323232;
  }
  .see-more,.see-more a{
    color:#b3b3b3;
    font-family: 'NHaasGroteskTXW01-75Bd', Helvetica, Arial, sans-serif;
    font-size: 14px !important;
    text-align: center;
  }
  .micrositeResourcesBarHeader{
    font-size: 15px;
    line-height: 1.22em;
    letter-spacing: -.02em;
    padding: 30px 0 20px;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
  }
  .micrositeResourcesBarList{
    list-style:none; 
  }
  .micrositeResourcesBarItem{
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2em;
    letter-spacing: .02em;
    margin-bottom: 0 !important;
    padding: 15px 20px;
    border-bottom: 1px solid #e3e3e3;
    cursor: pointer;
  }
  .micrositeResourcesBarItem:last-child{
    border: 0;
  }
  .micrositeResourcesBarItem a{
    color: #999;
    display: block;
  }
  .micrositeResourcesBarItem a:hover{
    color: #323232;
  }
  /* Mobile Menus */
  .micrositeMobileSeriesSidebars,.mobile-sidebars{
    display: none;
  }

  /* Content Recommendation Widget */

  .contentRecommendationContainer.loggedIn .postLogin{
    padding: 10px;
  }
  .contentRecommendationContainer.loggedIn .postLogin ul.assets{
    height: auto;
    margin-bottom: 34px;
    overflow: hidden;
  }
  .contentRecommendationContainer.loggedIn .postLogin li.asset{
    float: left;
    width: 33.3%;
  }
  .contentRecommendationContainer.loggedIn .postLogin .circle{
    clear: none;
    float: none;
    margin: 0 auto 15px;
  }
  .contentRecommendationContainer.loggedIn .postLogin .asset p.cta{
    float: none;
    margin-bottom: 15px;
    text-align: center;
    width: auto;
  }
  .contentRecommendationContainer.loggedIn .postLogin .asset .viewNow{
    float: none;
    margin:0 auto; 
  }

}

@media (min-width: 1280px){

  .micrositeSponsoredContentHeader{
    margin-top: 0px !important;
  }

  /* Main Content Styling */

  .main-content{
    background:#fff url(../images/gradient_bar.jpg)no-repeat 0 0;
    padding:39px 40px 0;
  }

  /* Landing Page Middle Column Content */

  .content-center{
    width: 750px;
  }
  .micrositeLandingPage{
    margin: 0 0 40px;
  }
  .micrositeLandingPage h2{
    margin: 35px 0 20px;
  }
  .micrositeLandingPage .micrositeSectionIntro{
    margin: 0 0 40px;
    width: 750px;
  }
  .micrositeLandingPage .micrositeSectionIntro + hr{
    left: inherit;
    position: relative;
    width: 750px;
  }
  .micrositeLandingPage h3{
    margin: 20px 0;
  }
  .micrositeLandingPage p{
    margin: 0 0 40px;
    width: 615px;
  }
  hr{
    width: 615px;
  }

  /* Topic Page Middle Column Content */

  .content-center{
    width: 870px;
  }
  .micrositeTopicPage{
    margin: 0 0 40px;
  }
  .micrositeTopicPage h2{
    margin: 40px 0 20px;
  }
  .micrositeTopicPage .micrositeSectionIntro{
    margin: 0 0 40px;
    width: 750px;
  }
  .micrositeTopicPage .micrositeSectionIntro + hr{
    left: inherit;
    position: relative;
    width: 750px;
  }
  .micrositeTopicPage h3{
    margin: 20px 0;
    width: 615px;
  }
  .micrositeTopicPage h3:first-of-type{
    margin: 20px 0 20px;
  }
  .micrositeTopicPage p{
    margin: 0 0 20px;
    width: 615px;
  }
  hr{
    width: 615px;
  }

  /* Article Page Middle Column Content */

  .micrositeArticlePage{
    margin: 0 0 40px;
    position: relative;
    width:870px;
  }
  .micrositeArticlePage h2{
    margin: 25px 0 15px;
    width: 640px;
  }
  .micrositeAuthorByline{
    margin: 0 0 25px !important;
  }
  .micrositeArticlePage p{
    margin: 0 0 45px;
    width: 640px;
  }
  .micrositeArticlePage p + ul,.micrositeArticlePage .videoContainer + ul{
    color: #666;
    margin: -35px 0 40px 20px;
    width: 620px;
  }
  .micrositeArticlePage p + ol,.micrositeArticlePage .videoContainer + ol{
    color: #666;
    margin: -35px 0 40px -20px;
    width: 620px; 
  }
  .micrositeArticlePage .videoContainer + ol,.micrositeArticlePage .videoContainer + ul{
    margin-top: 20px;
  }
  .micrositeCallOut{
    width: 640px;
  }
  .micrositeCallOutTop p{
    width: 100% !important;
  }
  .micrositeDesktopResourcesBar,.micrositeDesktopRelatedContentBar{
    clear: right;
    display: block;
    float: right;
    width: 200px;
  }

  /* Video Player */

  .videoContainer{
    margin-bottom: 40px;
    max-width: 640px;
    padding-bottom: 50%;
  }

  .section {
    background: none;
    border: 1px solid #dedede;
    box-sizing:border-box;
    height: auto;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 10px;
    width: 635px;
  }

  .bxslider{
    height: auto;
    margin:0 !important; 
    overflow: hidden;
  }

  .BrightcoveExperience{
    height: 100%;
    width: 100%;
  }

  #playlist_player {
    width: 612px;
  }

  .playlist-item {
    float: left;
    font-size: x-small;
    cursor: pointer;
    height: 130px;
    overflow: hidden;
    position: relative;
    width: 183px !important;
  }
  .playlist-item img {
    clear: left;
    float: left;
    height: 100px;
    width: 183px;
  }
  .playlist-item h6 {
    color: #000;
    display: inline-block;
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    padding: 5px;
    position: relative;
    width: 175px;
  }
  .playlist-item p {
    font-family: arial;
    font-size: 12px;
    margin: 0;
    width: auto;
  }

  .playlist-item-selected {
    color: #F5F5F5;
  }

  .playlist-item > .active {
    color: #fff;
    position: absolute;
    bottom: 30px;
    height: 20px;
    background: #274c6b;
    width: 100% !important;
    text-align: center;
    box-sizing: border-box;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 11px !important;
  }

  .duration {
    background: #000;
    color: #fff;
    display: inline-block;
    font-size: 10px !important;
    font-weight: bold !important;
    padding: 2px;
    position: absolute;
    right: 0;
    top:0;
  }

  .playlist-btn {
    background: #ececec;
    border-top: 1px solid #dedede;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 46px;
    margin: 0;
    padding: 0 10px;
    width: 298px;
  }
  .playlist-btn:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */
  }
  .playlist-btn:hover {
    background: #333;
    color: #fff;
  }
  .playlist-btn p {
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 32px;
    vertical-align: middle;
    text-transform: uppercase;
  }

  .playlist-btn-selected {
    cursor: pointer;
    margin: 0;
    padding: 5px 10px;
    font-size: small;
    color: whitesmoke;
    border: 1px solid #9a9a9a;
    background-color: #575758;
    display: block;
    width: 298px;
  }

  ul#BCL_playlistSelector {
    display: none;
  }

  #BCL_playlistSelectorDropDown {
    background: white;
    border-bottom: 1px solid #dedede;
    border-top: 0;
    display: none;
    font-family: arial;
    margin: 0px;
    padding: 0;
    position: absolute;
    width: 298px;
    z-index: 1;
  }

  #BCL_playlist {
    border-top: 0;
    float: left;
    height: 132px !important;
    margin-top: 5px;
    width: 612px;
    overflow-y: scroll;
  }

  /**
   * BxSlider v4.0 - Fully loaded, responsive content slider
   * http://bxslider.com
   *
   * Written by: Steven Wanderski, 2012
   * http://stevenwanderski.com
   * (while drinking Belgian ales and listening to jazz)
   *
   * CEO and founder of bxCreative, LTD
   * http://bxcreative.com
   */
  /** RESET AND LAYOUT
  ===================================*/
  .bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
  }

  .bx-wrapper img {
    max-width: 100%;
    display: block;
  }

  /** THEME
  ===================================*/
  .bx-wrapper .bx-viewport {
    background: #fff;
    height: 145px;
    margin: 0 auto !important;
    width: 572px !important;
  }

  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
  }

  /* LOADER */
  .bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(http://cdn.ttgtmedia.com/microsites/intelsponsorednews/images/bx_loader.gif) center center no-repeat white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
  }

  /* PAGER */
  .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
  }

  .bx-wrapper .bx-pager .bx-pager-item,
  .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
  }

  .bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
  }

  /* DIRECTION CONTROLS (NEXT / PREV) */
  .bx-wrapper .bx-prev {
    left: 0;
    background: url(http://cdn.ttgtmedia.com/microsites/intelsponsorednews/images/controls.png) no-repeat 0 0;
  }

  .bx-wrapper .bx-next {
    right: 0;
    background: url(http://cdn.ttgtmedia.com/microsites/intelsponsorednews/images/controls.png) no-repeat -29px 0;
  }

  .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 0;
    outline: 0;
    width: 20px;
    height: 100px;
    text-indent: -9999px;
    z-index: 9999;
  }

  .bx-wrapper .bx-controls-direction a.bx-prev.disabled {
    background: url(http://cdn.ttgtmedia.com/microsites/intelsponsorednews/images/prevDisabled.png) no-repeat 0 0;
    cursor: default;
    height: 100px;
    left: 0;
    width: 20px;
  }

  .bx-wrapper .bx-controls-direction a.bx-next.disabled {
    background: url(http://cdn.ttgtmedia.com/microsites/intelsponsorednews/images/nextDisabled.png) no-repeat 0 0;
    cursor: default;
    height: 100px;
    right: 0;
    width: 20px;
  }

  /* AUTO CONTROLS (START / STOP) */
  .bx-wrapper .bx-controls-auto {
    text-align: center;
  }

  .bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(http://cdn.ttgtmedia.com/microsites/intelsponsorednews/images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
  }

  .bx-wrapper .bx-controls-auto .bx-start:hover,
  .bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
  }

  .bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(http://cdn.ttgtmedia.com/microsites/intelsponsorednews/images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
  }

  .bx-wrapper .bx-controls-auto .bx-stop:hover,
  .bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
  }

  /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
  }

  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
  }

  /* IMAGE CAPTIONS */
  .bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666666 \9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
  }

  .bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
  }

  /* Left Column Menus */

  .micrositeShareBarDesktop{
    width: 200px;
  }

  .locking-left-bar .micrositeDesktopResourcesBar,.locking-left-bar .micrositeDesktopRelatedContentBar{
    display: none;
  }
  .micrositeDesktopSeriesBar{
    width: 200px;
  }
  .micrositeDesktopArticleBar{
    display: block;
    width:200px;
  }

  /* Right Column Menus */

  ul.micrositeResourcesBarList,ul.micrositeRelatedContentBarList{
    margin:0;
  }
  .micrositeResourcesBarHeader,.micrositeRelatedContentBarHeader{
    background: url(../images/border_diagonal.png) repeat-x 0 top;
    padding:25px 0 15px;
  }
  .micrositeRelatedContentBarHeader{
    border-bottom: 1px solid #e3e3e3;
    font-family: 'NHaasGroteskTXW01-75Bd', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.22em;
    position: relative;
  }
  .micrositeRelatedContentBarItem,.micrositeResourcesBarItem{
    border-bottom: 1px solid #e3e3e3;
    font-family: 'NHaasGroteskTXW01-75Bd', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.2em;
    list-style:none; 
    padding:15px 50px 15px 0; 
  }
  .micrositeRelatedContentBarItem:last-child,.micrositeResourcesBarItem:last-child{
    border: 0;
  }
  .micrositeRelatedContentBarItem a,.micrositeResourcesBarItem a{
    color: #008bc1;
    display: block;
    min-height: 30px;
  }
  /*.micrositeRelatedContentBarItem a:hover,.micrositeResourcesBarItem a:hover{
    
  }*/
  .micrositeDesktopSeriesBar + .micrositeRightRail{
    display: none;
  }
  .micrositeArticlePage .micrositeRightRail{
    display: block;
  }
  .micrositeRightRail{
    clear: right;
    float: right;
    height: auto;
    overflow: hidden;
  }

  /* Content Recommendation Widget */
  
  .contentRecommendationContainer.loggedIn{
    margin-bottom: 40px;
  }
  .contentRecommendationContainer.loggedIn .postLogin a#close{
    margin-bottom: 0;
  }
  .contentRecommendationContainer.loggedIn .postLogin .addressment{
    font-size: 20px;
    margin-left: 40px;
  }
  .contentRecommendationContainer.loggedIn .postLogin ul.assets{
    margin:25px auto 30px; 
    width: 85%;
  }
  .contentRecommendationContainer.loggedIn .postLogin li.asset{
    padding: 0 10px;
    width: 30%;
  }
  
}